body{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: white;
}
#main{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #154360;
    height: 600px;
    width: 1200px;
}
#img{
    margin-left: 145px;
}
#color{
    width: 60px;
    height: 500px;
    background-color: #f1c40f;
    margin-left: 35px;
}
#right{
    width: 400px;
    padding-left: 50px;
    margin-right: 85px;
    height: 400px;
    padding-left: auto;
    background-color: #f1c40f;
}
a{
    text-decoration: none;
    color:#154360;
}
input{
    border: none;
    width: 200px;
    border-bottom: 0.5px solid black;
    background-color:#f1c40f ;
    color: white;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -15px;
}
#forget{
    margin-left: 95px;
}
#logo{
    margin-left: -10px;
    font-size: 35px;
    color: black;
}
button{
    width: 100px;
    height: 25px;
    background-color: #154360;
    color: white;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom:15px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
#Login{
    margin-top: -10px;
    font-size: 30px;
    color: black;
}
#Remember{
    margin-left: -75px;
}
#Create{
    margin-left: -15px;
}
